@model IEnumerable<LibraryAppMVC.ViewModels.Book.IndexBookViewModel>


@{
    ViewData["Title"] = "Index";
}

<h1>Lista Libri</h1>

<a asp-action="Create" class="btn btn-primary">
    Nuovo Libro
</a>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPubblicazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genere)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorFullname)  @* Autore *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPubblicazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genere)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
@*                 @Html.DisplayFor(modelItem => item.Author.Cognome)
 *@                @Html.DisplayFor(modelItem => item.AuthorFullname)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square">Edit</i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-search">Details</i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash">Delete</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
