@model LibraryAppMVC.ViewModels.Loan.CreateLoanViewModel

<h1>My Cart</h1>

<!--Form to finalize and create the order-->
<form asp-action="PlaceOrder" method="post">
    <div class="form-group">
        <label asp-for="DataInizio" class="control-label"></label>
        <input asp-for="DataInizio" class="form-control" value="@Model.DataInizio.ToString("yyyy-MM-dd")" type="date" />
        <span asp-validation-for="DataInizio" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DataFine" class="control-label"></label>
        <input asp-for="DataFine" class="form-control" value="@Model.DataFine.ToString("yyyy-MM-dd")" type="date" />
        <span asp-validation-for="DataFine" class="text-danger"></span>
    </div>
    <h3>Loan Items</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.BooksAddedToCart.Count; i++)
            {
                <tr>
                    <td>@Model.BooksAddedToCart[i].Titolo</td>
                    <td>@Model.BooksAddedToCart[i].Prezzo</td>
                    <td><button class="btn-danger" asp-action="RemoveFromCart" name="bookid" value="@Model.BooksAddedToCart[i].BookId">Rimuovi</button></td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td class="bg-primary bg-gradient text-white fw-bold">@Model.Totale.ToString("C")</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <input type="submit" value="Place Order" class="btn btn-primary" />
    </div>
</form>
