@model LibraryAppMVC.ViewModels.Loan.CreateLoanViewModel

@{
    ViewData["Title"] = "Create Loan";
}

<h1>Create Loan</h1>


<hr />


<div class="row">
    @foreach (var b in @Model.Books)
    {
        <div class="col-md-4">
            <form asp-action="AddBooktoCart" method="post">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        @b.Titolo - @b.AuthorFullname - @b.Prezzo.ToString("C") 
                        <input type="hidden" value="@b.Id" name="bookId" />
                        <button class="btn btn-info" type="submit" disabled="@(b.OutofStock)">Add</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
