@model LibraryAppMVC.ViewModels.Loan.CreateLoanViewModel

@{
    ViewData["Title"] = "Create Loan";
}

<h1>Create Loan</h1>


<hr />

<form asp-action="Search" method="post">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="term" class="form-control" value="" placeholder="Search by title" />
        </div>
        <div class="col-md-8">
            <input type="hidden" name="term2" class="form-control" value="" placeholder="Search by author" />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-info">Reset Search</button>
        </div>
    </div>
</form>

<div class="row">

<form asp-action="Search" method="post">
    <div class="row">
        <div class="col-md-8">
             <input name="term" class="form-control" value="@Model.TermTitle" placeholder="Search by title" />
        </div>
            <div class="col-md-8">
                <input name="term2" class="form-control" value="@Model.TermAuthor" placeholder="Search by author" />
            </div>
        <div class="col-md-4">
            <button type="submit"class="btn btn-info">Search</button>
        </div>
    </div>
</form>
</div>
<div class="row">
    @foreach (var b in @Model.Books)
    {
        <div class="col-md-4">
            <form asp-action="AddBooktoCart" method="post">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p> @Html.DisplayNameFor(modelItem => b.Titolo): @Html.DisplayFor(modelItem => b.Titolo)</p>
                        <p>@Html.DisplayNameFor(modelItem => b.Genere): @Html.DisplayFor(modelItem => b.Genere)</p>
                        <p>@Html.DisplayNameFor(modelItem => b.DataPubblicazione): @Html.DisplayFor(modelItem => b.DataPubblicazione)</p>
                        <p>@Html.DisplayNameFor(modelItem => b.AuthorFullname): @Html.DisplayFor(modelItem => b.AuthorFullname)</p>
                        <p>@Html.DisplayNameFor(modelItem => b.Prezzo): @Html.DisplayFor(modelItem => b.Prezzo)</p>
                        <input type="hidden" value="@b.Id" name="bookId" />
                        <button class="btn btn-info" type="submit" disabled="@(b.OutofStock)">Add</button>
                    </div>
                </div>
            </form>
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
