@model IEnumerable<LibraryAppMVC.ViewModels.Loan.IndexLoanViewModel>

@{
    ViewData["Title"] = "My Loans";
}

<h1>I miei prestiti</h1>

<a asp-action="Create" class="btn btn-primary">
    Nuovo Prestito
</a>
<hr />

@if(Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.UserFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInizio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totale)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.UserFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInizio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Totale)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-search">Details</i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash">Delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

