@model IEnumerable<LibraryAppMVC.ViewModels.Reviews.IndexReviewViewModel>

@{
    ViewData["Title"] = "My Reviews";
}

<h1>Le mie recensioni</h1>

<a asp-action="Create" class="btn btn-primary">
    Nuova Recensione
</a>
<hr />

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.TitoloBook)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.TitoloBook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square">Edit</i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-search">Details</i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash">Delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

