@model IEnumerable<LibraryAppMVC.ViewModels.Loan.IndexLoanViewModel>

@{
    ViewData["Title"] = "Loans";
}

<h1>Loans</h1>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.UserFullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInizio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totale)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserFullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInizio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Totale)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

