@model LibraryAppMVC.ViewModels.Author.IndexAuthorViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
    <div class="row">
        <div class="col-md-8">
            <input name="searchTerm" class="form-control" placeholder="Search by name" />
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-info">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-orderBy="@Model.NameSortOrder">Nome</a>
            </th>
            <th>
                Cognome
            </th>
            <th>
                Nazionalità
            </th>
            <th>
                <a asp-action="Index" asp-route-orderBy="@Model.DateSortOrder">Data di Nascita</a>
            </th>
            <th>
                Luogo di Nascita
            </th>
            <th>
                Data di morte
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Authors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazionalita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuogoNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoD)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="/Authors/Index/?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item"><a class="page-link active" href="/Authors/Index/?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="/Authors/Index/term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@i"> @i</a></li>
            }
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item">
                <a class="page-link" href="/Authors/Index/?term=@Model.Term&orderBy=@Model.OrderBy&currentPage=@(Model.CurrentPage+1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
    </ul>
</nav>
